:root {
  --cor-principal: #81cfe0;
  --fonte-decorativa: "montserrat";
  --tamanho-fonte-campo: 85%;
  --config-borda: 2px solid #cccccc;
  --sombra-div: 2px 2px 3px #aaaaaa;
}

@font-face {
  font-family: "montserrat";
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Regular.ttf);
}

#banner,
#menu {
  font-family: var(--fonte-decorativa);
  background-color: var(--cor-principal);
}

#banner {
  padding: 10px 0px 10px 20px;
  font-size: 120%;
}

#conteiner {
  font-family: "poppins";
  padding: 10px;
  min-height: 500px;
}

#menu {
  padding: 2px;
  font-size: 90%;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  display: table;
}

.botaoMenu {
  display: table-cell;
  width: 50%;
}

.botaoMenu img {
  width: 50px;
}

.botaoMenu span {
  display: block;
  font-size: 110%;
}

#formulario {
  box-shadow: var(--sombra-div);
  padding: 10px;
}

#formulario select {
  display: block;
  width: 40%;
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  border: var(--config-borda);
  font-size: var(--tamanho-fonte-campo);
  border-radius: 2px;
}

#formulario input[type=number] {
  margin-right: 5px;
  font-size: var(--tamanho-fonte-campo);
  height: 20px;
  border: var(--config-borda);
  border-radius: 5px;
}

#formulario button {
  background-color: var(--cor-principal);
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  margin-left: 10px;
}

#formulario button img {
  width: 25px;
}

#listaCompras {
  margin-top: 15px;
  box-shadow: var(--sombra-div);
  padding: 10px;
}

#listaCompras table {
  width: 100%;
  border-collapse: collapse;
}

#listaCompras th {
  text-align: left;
}

#listaCompras td button {
  background-color: transparent;
  border: none;
}

#listaCompras tbody tr:nth-child(odd) {
  background-color: #cccccc;
}

#listaCompras td,
#listaCompras th {
  padding: 10px;
}

@media only screen and (max-width: 600px) {
  #formulario select {
    width: 100%;
    font-size: 100%;
    height: 40px;
    border-radius: 5px;
  }

  #formulario input[type=number] {
    font-size: 100%;
    height: 30px;
  }

  #formulario button {
    margin-left: 30px;
    vertical-align: middle;
  }

  #formulario button img {
    width: 30px;
  }
}